.superCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moving {
  0% {
    right: -200px;
  }
  100% {
    right: -0px;
    display: flex;
  }
}

.moving {
  animation-name: moving;
  animation-duration: 0.5s;
  -webkit-animation-duration: 1s;
}
